/* General Body Styling */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white; /* White text */
  height: 100vh;
  overflow-x: hidden;
  background: url('src/red.jpg') no-repeat center center/cover;
}

/* Header Styling */
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

/* Restaurant Cards Container */
.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 3rem;
}

/* Restaurant Cards */
.card {
  background-color: rgba(3, 3, 3, 0.673); /* Slightly transparent white background */
  border-radius: 0;
  outline: 3px solid rgb(95, 6, 6); /* Red outline with 3px thickness */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 320px; /* Increase height */
  width: 320px; /* Increase width */
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

/* Card Title */
.card-title {
  font-size: 1.85rem;
  font-weight: 600;
  color: white; /* White text */
  margin-bottom: 0.75rem;
  letter-spacing: 0.5px;
}

/* Card Text */
.card-text {
  font-size: 1.05rem;
  color: white; /* White text */
  line-height: 1.6;
  margin-bottom: 0.75rem;
}

/* Buttons - White Background */
button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Flex Layout for Restaurant Cards */
.restaurant-card {
  flex: 0 1 30%;
  max-width: 320px;
  min-width: 250px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .restaurant-card {
      flex: 0 1 45%; /* 2 cards per row for medium screens */
  }
}

@media (max-width: 768px) {
  .restaurant-card {
      flex: 0 1 100%; /* 1 card per row for small screens */
  }
}